<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" href = "style.css"/>
  </head>
  <body>
    <a href="aboutus.html"><button class="aboutusbutton" onclick="">About Us</button></a>
    <a href="contactus.html"><button class="contactusbutton" onclick="">Contact Us</button></a>
    <h1>Foodies</h1>
    <img
      src= "Untitled design (6).png" width = "400" height = "400"/>
    <p>Welcome to Foodies: The Ultimate Local Restaurant Locator! Find the Ideal Restaurant
    <p>in Your Area! Start Your Search to Look for Eateries and Collaborate With a Friend!
    <p>
    <a href="searchpage.html"><button class="searchpagebutton" onclick="">Start your search</button></a>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.6.2/fetch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>